@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400;1,500&display=swap");

:root {
  --blue: #0188df;
  --black: #354046;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
  text-transform: capitalize;
  font-weight: 400;
  /* transition: all 0.3s linear; */
}
*::selection {
  background: var(--black);
  color: #fff;
}

html {
  /* font-size: 62.5%; */
  overflow: hidden;
}
body {
  overflow-x: hidden;
  font-size: 62.5%;
}
section {
  overflow: hidden;
}
.button {
  height: 3rem;
  width: 10rem;
  background: var(--blue);
  color: #fff;
  font-size: 1.7rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 1rem 0;
}
.button::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  z-index: -1;
  transition: 0.2s linear;
}
.button:hover:before {
  top: 0%;
}
.button:hover {
  box-shadow: 0.1rem 0.3rem var(--blue), 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
}
.heading {
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
  padding-top: 8rem;
  color: var(--black);
}
.heading span {
  color: var(--blue);
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 1rem;
  z-index: 1000;
}
.header-active {
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: var(--black);
}

header a:hover {
  color: var(--blue);
}

header .container .logo {
  font-size: 3.5rem;
}
header .container .logo span {
  color: var(--blue);
}
header .nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
header .nav ul li {
  margin: 0 1rem;
}
header .nav ul li a {
  font-size: 1.5rem;
}
header .fa-bars {
  font-size: 3.5rem;
  color: var(--blue);
  cursor: pointer;
  display: none;
}

header .fa-times {
  transform: rotate(180deg);
}

.background-hm {
  background-color: rgba(72, 127, 153, 0.1);
}

.home .content h1 {
  font-size: 3rem;
  color: var(--black);
}

.home .content h1 span {
  color: var(--blue);
}

.home .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}
.about {
  background: #eee;
  /* transition: all 0.4s ease-in; */
}

.about .content .box {
  margin: 3rem 0;
}

.about .content .box h3 {
  font-size: 1.5rem;
  color: var(--black);
}

.about .content .box h3 i {
  padding: 0 1rem;
  color: var(--blue);
}

.about .content .box p {
  font-size: 1rem;
  padding-left: 6rem;
  color: #666;
}

.facility {
  min-height: 100vh;
}
.facility .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}
.facility .box-container .box {
  height: 10rem;
  width: 20rem;
  margin: 0.3rem;
  overflow: hidden;
}
.facility .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* transition: all 0.4s ease-in; */
}
.facility .box-container .box:hover img {
  transform: scale(1.3);
}

/* media queries */

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  header .fa-bars {
    display: block;
    transition: all 0.4s ease-in;
  }
  header .nav {
    position: fixed;
    top: -100rem;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    border: 0.3rem solid var(--blue) !important;
    background: #fff;
    width: 95%;
    opacity: 0;
    transition: all 0.4s ease-in;
  }
  header .nav ul {
    width: 100%;
    flex-flow: column;
    padding: 2rem 0;
  }

  header .nav ul li {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }
  header .nav ul li a {
    font-size: 3rem;
    display: block;
  }

  header .nav-toggle {
    top: 50%;
    opacity: 1;
  }
}
